.title {
  margin-bottom: 30px;
  text-align: center;
}

.form {
  display: grid;
  gap: 15px;
  width: 450px;
  margin: 0;

  input {
    width: 100%;
  }
  input[type="date"]::-webkit-calendar-picker-indicator {
    visibility: hidden;
  }

  .password {
    padding-right: 50px;
  }

  .pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;

    div {
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }

    .active {
      background-color: #575757;
    }

    .not_active {
      background-color: #d9d9d9;
    }
  }

  .eye {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .btn_p2 {
    width: 400px;
    margin-inline: auto;
  }

  button {
    height: 48px;
    margin-top: 15px;
  }
}

.formtwo {
  width: 50vw;
}

.link_a {
  text-align: center;
  margin-top: 10px;
}

.cancel,
.back_link {
  text-align: center;
  margin-top: 20px;
}

.second_btn {
  width: 100%;
  margin-inline: auto;
  padding: 10px;
}

.or {
  text-align: center;
  margin-block: 10px;
  position: relative;

  &::after,
  &::before {
    content: "";
    width: 150px;
    height: 1px;
    background-color: black;
    display: block;
    position: absolute;
    top: 50%;
  }

  &::after {
    right: 0;
  }

  &::before {
    left: 0;
  }
}

.choice_a {
  display: grid;
  gap: 10px;
  margin-top: 10px;
}

body[data-theme="dark"] {
  .form {
    .pagination {
      .active {
        background: linear-gradient(88.74deg, #48d824 -18.76%, #10d0ea 99.82%);
      }

      .not_active {
        background-color: #d9d9d9;
      }
    }
  }

  .or {
    &::after,
    &::before {
      background-color: #f8f8f8;
    }
  }
}
