.error_page {
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
  min-height: 100vh;

  .error_back {
    font-size: 18px;
    font-weight: 400;

    display: flex;
    align-items: center;
    gap: 5px;

    margin: 20px 0 0 20px;

    cursor: pointer;
  }

  .error_block {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: repeat(3, 0fr);

    .error_title {
      color: #2f2f2f;
      font-size: 100px;
      font-weight: 400;
    }

    .error_image {
      margin-inline: auto;
    }

    .error_description {
      color: #2f2f2f;
      font-weight: 400;
      font-size: 25px;
      text-align: center;
      margin-top: 20px;
    }
  }
}
