@use "../../styles/responsive" as *;

.top {
  display: flex;
  align-items: center;
  gap: 14px;

  position: absolute;
  top: 30px;
  right: 30px;

  @include mobile {
    gap: unset;
    justify-content: space-between;
    right: 0;
    left: 0;
    margin-inline: 20px;
  }

  .lang,
  .theme {
    background-color: #fefefe;
    cursor: pointer;
    user-select: none;
  }

  .lang {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    padding: 5px 15px;

    font-weight: 500;
    font-size: 14px;

    color: #575757;
  }

  .theme {
    border-radius: 50%;
    display: flex;
    padding: 5px;
  }
}

.icon {
  margin-bottom: 40px;
}

.description {
  font-weight: 400px;
  font-size: 20px;
  margin-bottom: 40px;

  @include mobile {
    font-size: 15px;
    text-align: center;
  }
}

.button_block {
  display: grid;
  gap: 20px;

  .button {
    padding-block: 20px;

    @include mobile {
      font-size: 15px;
      padding-block: 15px;
    }
  }
}

body[data-theme="dark"] .top {
  .lang,
  .theme {
    background-color: #000000;
  }

  .lang {
    color: #f5f5f5;

    img {
      filter: invert(99%) sepia(1%) saturate(207%) hue-rotate(343deg)
        brightness(170%) contrast(92%);
    }
  }
}
