.icon_site {
  display: flex;
  align-items: center;
  justify-content: center;

  user-select: none;
}

.icon_title {
  font-family: "Jua";
  font-size: 80px;
}

.icon_image {
  transform: translate3d(0, 10px, 0);
}

body[data-theme="dark"] .icon_image {
  filter: invert(99%) sepia(2%) saturate(580%) hue-rotate(336deg)
    brightness(116%) contrast(95%);
}
